.container {
  width: 1224px;
  margin: 0 auto;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
}

address {
  font-style: normal;
}

body {
  font-family: "Poppins";
  background-color: #1E252B;
  color: rgba(255, 255, 255, 0.7803921569);
}

.orange-span {
  color: #FF6E30;
}

.header {
  padding: 34px;
}
.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-logo {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.5;
  text-align: left;
  color: #FFFFFF;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 21px;
}
.header-logo-image {
  width: 19.29px;
  height: 20.95px;
}
.header-button {
  background-color: #FF6E30;
  color: rgba(255, 255, 255, 0.8980392157);
  width: 118px;
  height: 48px;
  border-radius: 8px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
}
.header-button-first {
  color: rgba(255, 255, 255, 0.7803921569);
  background-color: #1E252B;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
}
.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  color: var(--color-grey);
}
.header-list-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
  color: rgba(255, 255, 255, 0.5490196078);
}
.header-reg-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  margin-left: auto;
}

.section-hero {
  padding-top: 104px;
  background-image: url(../img/1.png);
  background-repeat: no-repeat;
  background-position: right;
}
.section-hero-title {
  font-size: 50px;
  font-weight: 500;
  line-height: 1.4;
  text-align: left;
  margin-bottom: 30px;
  max-width: 600px;
}
.section-hero-input {
  width: 300px;
  height: 25px;
  border-radius: 15px 15px 15px 15px;
  border: 1.5px;
  background-color: #283036;
  padding: 30px 0 30px 0;
}
.section-hero-button {
  width: 130px;
  height: 48px;
  border-radius: 8px;
  color: rgba(255, 255, 255, 0.8980392157);
  background-color: #FF6E30;
}
.section-hero-list {
  margin-top: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-hero-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  margin-bottom: 60px;
  max-width: 467px;
  color: rgba(255, 255, 255, 0.5490196078);
}
.section-hero-find-more {
  width: 497.66px;
  height: 64px;
  border-radius: 15px;
  border: 1.5px;
  background-color: #283036;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-hero-find-more::before {
  content: url(../img/search.png);
  padding: 0 13px 0 18px;
}

.section-popular-tools {
  padding-top: 200px;
  padding-bottom: 200px;
}
.section-popular-tools-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 23px;
     -moz-column-gap: 23px;
          column-gap: 23px;
  row-gap: 100px;
}
.section-popular-tools-list-item {
  width: 392px;
  padding: 33px;
  border-radius: 15px;
}
.section-popular-tools-list-item-wrap {
  width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}
.section-popular-tools-title {
  font-size: 48px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 25px;
}
.section-popular-tools-description {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6;
  text-align: center;
  width: 427px;
  margin: 0 auto;
  margin-bottom: 90px;
  color: rgba(255, 255, 255, 0.5490196078);
}
.section-popular-tools-button {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  background-color: #1E252B;
  color: #FF6E30;
  width: 184px;
  height: 64px;
  border-radius: 8px;
  border: 1px solid #283036;
  display: block;
  margin: 0 auto;
  margin-top: 100px;
}

.section-popular-tools-list-item-list-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section-popular-tools-list-item-list-wrap-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
.section-popular-tools-list-item-list-wrap-list-item {
  width: 42px;
  border-radius: 8px;
}

.popular-tools-list-item-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
  width: 229px;
  margin-bottom: 3px;
}

.popular-tools-list-item-decription {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  color: rgba(255, 255, 255, 0.5490196078);
  text-align: left;
  margin-bottom: 30px;
}

.section-popular-tools-list-button {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  background-color: #1E252B;
  color: rgba(255, 255, 255, 0.5490196078);
  width: 106px;
  height: 42px;
  border-radius: 8px;
  margin-left: auto;
}
.section-popular-tools-list-button:hover {
  background-color: #FF6E30;
}

.popular-tools-list-item-decription-price {
  color: rgba(255, 165, 55, 0.5490196078);
  width: 100px;
}

.brands {
  padding: 58px 0 56px 0;
  background-image: url(../img/bgbrands.png);
  background-repeat: no-repeat;
  background-position: center;
}

.brand-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 55px;
}

.brands-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 107px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.newcomer-tools-section {
  padding-top: 200px;
}

.newcomer-tools-total-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.newcomer-tools-section-title {
  font-size: 48px;
  font-weight: 500;
  line-height: 1.2;
  text-align: left;
  margin-bottom: 30px;
}

.newcomer-tools-section-decription {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6;
  text-align: left;
  color: rgba(255, 255, 255, 0.5490196078);
  margin-bottom: 30px;
}

.newcomer-tools-section-wrap {
  width: 427px;
  height: 300px;
}

.newcomer-tools-section-button {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  width: 198px;
  height: 58px;
  background-color: #FF6E30;
  border-radius: 8px;
  color: #FFFFFF;
}

.newcomer-tools-list {
  margin-left: 194px;
  width: 600px;
  height: 638px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.newcomer-tools-list-item {
  width: 288px;
  height: 284px;
}

.section-newcomer-tools-list-button {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  background-color: #1E252B;
  color: rgba(255, 255, 255, 0.5490196078);
  width: 106px;
  height: 42px;
  border-radius: 8px;
  margin-left: 124px;
}

.section-newcomer-tools-list-button:hover {
  background-color: #FF6E30;
}

.section-newcomer-tools-list-item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.newcomer-tools-list-item-decription-price {
  color: rgba(255, 165, 55, 0.5490196078);
  width: 100px;
}

.section-newcomer-tools-list-item-list-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.section-newcomer-tools-list-item-list-wrap-list-item {
  width: 30px;
  height: 30px;
}

.section-newcomer-tools-list-item-list-wrap-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
}

.newcomer-tools-list-item-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
  margin-bottom: 3px;
}

.newcomer-tools-list-item-decription {
  color: rgba(255, 255, 255, 0.5490196078);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.8;
  text-align: left;
}

.newcomer-tools-item-button {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  text-align: left;
}

.section-biography {
  padding-bottom: 357px;
  padding-top: 200px;
}
.section-biography-wrap {
  width: 393px;
  height: 180px;
}
.section-biography-wrap-title {
  font-size: 26px;
  font-weight: 500;
  line-height: 2.4;
  letter-spacing: 0.015em;
  text-align: left;
  margin-bottom: 2px;
  height: 50px;
}
.section-biography-decription {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 2.1;
  letter-spacing: 0.015em;
  text-align: left;
  color: rgba(255, 253, 253, 0.5490196078);
}
.section-biography-decription-wrap {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  color: rgba(255, 253, 253, 0.5490196078);
}

.section-biography-buttons-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 57px;
}
.section-biography-buttons-wrap .section-biography-left-button {
  background-image: url(../img/left-button.png);
  background-repeat: no-repeat;
  display: inline-block;
  width: 80px;
  height: 100px;
  border-radius: 15px;
}
.section-biography-buttons-wrap .section-biography-pre-decription-wrap {
  width: 265px;
  height: 91px;
  border-radius: 8px;
  border: 1px;
  background-image: url(../img/19.png);
  width: 399px;
  height: 492px;
  border: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 20px;
}
.section-biography-buttons-wrap .section-biography-pre-decription-wrap-decription {
  width: 265px;
  height: 91px;
  border-radius: 8px;
  border: 1px;
  background-image: url(../img/bgdescription.png);
  padding: 10px 22px 16px 23px;
}
.section-biography-buttons-wrap .section-biography-right-button {
  background-image: url(../img/right-button.png);
  background-repeat: no-repeat;
  display: inline-block;
  width: 80px;
  height: 100px;
  border-radius: 15px;
}

.section-biography-check-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 18px;
  margin-top: 101px;
}
.section-biography-check-list-item-span {
  background-image: url(../img/noactivecheck.png);
  background-repeat: no-repeat;
  display: inline-block;
  width: 44px;
  height: 6px;
  border-radius: 4px;
}
.section-biography-check-list-item-active-span {
  background-image: url(../img/activecheck.png);
  background-repeat: no-repeat;
  display: inline-block;
  width: 44px;
  height: 6px;
  border-radius: 4px;
}

.section-join-us {
  padding-bottom: 240px;
}
.section-join-us-title {
  font-size: 48px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 25px;
}
.section-join-us-decription {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6;
  text-align: center;
  color: rgba(255, 255, 255, 0.5490196078);
  width: 427px;
  height: 60px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.section-join-us-input {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  padding-left: 24px;
}
.section-join-us-form {
  width: 497.66px;
  height: 64px;
  border-radius: 15px;
  border: 1.5px;
  background-color: #283036;
  margin: 0 auto;
}
.section-join-us-input {
  width: 337px;
  height: 64px;
  border-radius: 15px 15px 15px 15px;
  border: 1.5px;
  background-color: #283036;
}
.section-join-us-button {
  width: 130px;
  height: 48px;
  border-radius: 8px;
  color: rgba(255, 255, 255, 0.8980392157);
  background-color: #FF6E30;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  margin-left: 11px;
}

.footer {
  border-top: 0.25px solid rgba(255, 255, 255, 0.15);
  padding-top: 70px;
  padding-bottom: 100px;
}
.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-decription-list {
  width: 260px;
  height: 183px;
  border-radius: 8px;
}

.footer-decription-list-item-logo {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.5;
  text-align: left;
  margin-bottom: 25px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.footer-decription-list-item-description {
  width: 260px;
  height: 75px;
  color: rgba(255, 255, 255, 0.5490196078);
}

.footer-decription-list-item-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
  margin-bottom: 21px;
  color: #FFFFFF;
}

.footer-list-item-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
  margin-bottom: 10px;
}

.footer-list-decription {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
  color: rgba(255, 255, 255, 0.5490196078);
}

.contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  width: 197px;
  height: 142px;
}

.categories-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  width: 112px;
  height: 108px;
}

.company-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  width: 144px;
  height: 142px;
}/*# sourceMappingURL=main.css.map */